<div class="container">	
	<%= form_for @article do |f| %>
		<table>
			<tr>
				<td>
					Title:
				</td>
				<td>
					<%= f.text_field :title, placeholder: "Title" %>
				</td>
			</tr>
			<tr>
				<td>
					Body:
				</td>
				<td>
					<%= f.text_area :body, placeholder: "Body" %>
				</td>
			</tr>
			<tr>
				<td>
					Image:
				</td>
				<td>
					<%= f.file_field :img_lg %><br>
					<small>(Should be 1000px or wider)</small>
				</td>
			</tr>		

		</table>
		<%= f. submit %>
	<% end %>
</div>