<div class="fb-share-button" 
	data-href="<%= request.original_url %>" 
	data-layout="button_count">
</div>
<br>

<a href="https://twitter.com/intent/tweet" class="twitter-mention-button" data-text="<%= @article.title[0..60] %> on @ideasamerica" data-lang="en" data-show-count="false">Share on Twitter</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<br><br>
