<% if @errors %>
	<div class="card-panel yellow lighten-1">
		<ul>
			<% @errors.each do |error| %>
				<li><%= error %>!</li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="container">
	<h3>Edit Article</h3>
</div>
<%= render partial: 'article_form' %>