<!-- First 10 articles, paginated container -->
<div>
  <% @most_recent_articles.each do |article| %>
    <% if article.img_lg != "" && article.img_lg != nil %>
      <div class="parallax-container hide-on-small-only">
        <div class="parallax">
        	<%= image_tag article.img_lg %>
        </div>
      </div>
    	<div class="parallax-container parallax-container-small hide-on-med-and-up">
        <div class="parallax">
        	<%= image_tag article.img_lg %>
        </div>
      </div>
    <% end %>

    <div class="section white z-depth-5">
      <div class="row container">
        <div class="col s12 l9">
          <a href="/articles/<%= article.id %>"><h3><%= article.title %></h3></a>  
        </div>
        <div class="col s12 l3">
          <p>Idea Shared By: <a href="/users/<%= article.user.id %>"><%= article.user.name %></a><br>
          Posted: <%= article.created_at.strftime("%b %-m '%y") %></p>  
        </div>
        <div class="row">
          <div class="col s12 l12">
            <p class="grey-text text-darken-3 lighten-3"><%= simple_format(article.body[0..200]+"...") %></p>
          </div>
        </div>
      </div>
    </div>

  <% end %>
  <br><br>
  <%= will_paginate @most_recent_articles %>
</div>