<% if @errors %>
	<div class="card-panel yellow lighten-1">
		<ul>
			<% @errors.each do |error| %>
				<li><%= error %>!</li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="container">
	<h3>Submit a New Article</h3>
	Articles will be reviewed by an editor before publishing.<br>
</div>
<%= render partial: 'article_form' %>