<% if @article.img_lg != "" && @article.img_lg != nil %>
<div class="parallax-container hide-on-small-only">
  <div class="parallax">
  	<%= image_tag @article.img_lg %>
  </div>
</div>
<div class="parallax-container parallax-container-small hide-on-med-and-up">
  <div class="parallax">
  	<%= image_tag @article.img_lg %>
  </div>
</div>
<% end %>
<div class="section white z-depth-5">
  <div class="row container">
    <div class="col s12">
    <h3><%= @article.title %></h3>
    </div>
  </div>
  <div class="row container">
    <div class="col s6">
      <%= render partial: 'social_icons' %>
    </div>
    <div class="col s6">
      <p class="right">By: <a href="/users/<%= @article.user.id %>"><%= @article.user.name %></a><br>
      Posted: <%= @article.created_at.strftime("%b %-m '%y") %>
      <% if @article.user == current_user %>
        <br><a href="/articles/<%= @article.id %>/edit">Edit this Article</a>
      <% end %>
      </p>
    </div>
    <div class="row container">
      <div class="col s12 grey-text text-darken-3 lighten-3">
        <%= raw @article.body %>
      </div>
    </div>
  </div>
</div>

