<strong><%= user.firstname %>'s Ideas</strong> 
<table class="striped user-ideas-table">
  <% articles.each do |article| %>
    <tr>
      <td>
        Score  
      </td>
      <td>
        <a href="/articles/<%= article.id %>"><%= article.title[0..60] %></a>
        <span class="right"><%= article.created_at.strftime("%b %-m '%y") %></span>
      </td>
    </tr>
  <% end %>
</table>
<div class="row center">
  <%= will_paginate @articles %>
</div>