	<div class="container center">
    <h3 class="valign-wrapper"><%= @user.name %></h3>
  </div>

<div class="container">

  <div class="row">
    <div class="col s3">
      <img src="<%= @user.image %>?type=large" width="100%"> 
      <p><a href="<%= @user.website %>"><%= @user.org %></a></p></p>
    </div>
    <div class="col s9">
      <strong>About <%= @user.name %></strong>
      <p><%= simple_format(@user.bio) %></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col s9 offset-s3" id="user-ideas">
      <%= render partial: 'articles', layout: false, locals: { articles: @articles, user: @user } %>
    </div>
  </div>

</div>

