/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";
nav {
	background-color: #000;
}

#navbar-profile-img {
  margin:0 32px 0 0;
}

.topics-bar {
	padding-top: 10px;
}

.side-nav {
	color: #000;
}

footer.page-footer {
	background-color: #AF1026;
}

.btn {
	background-color:#E0B216;
}
.parallax-container {
  height: 30vh;
}

.parallax-container-small {
  height: 40vh;
}

/* Styling for Users#show page */

.user-ideas-table td {
  padding:5px 5px;
}

/* Styling for Pagination */

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0000; }
  .pagination a {
    border: 1px solid #dddddd;
    color: #ff0000;
    text-decoration: none; }
    .pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #A51327;
      color: white; }
  .pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .pagination .previous_page, .pagination .next_page {
    border-width: 2px; }
  .pagination .previous_page {
    margin-right: 1em; }
  .pagination .next_page {
    margin-left: 1em; }


