<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
  		<ul class="left hide-on-med-and-down">
  			<li><a href="mailto:info@ideasamerica.com"><i class="tiny material-icons left">email</i> info@ideasamerica.com</a></li>
  		</ul>
      <a href="/" class="brand-logo"><%= image_tag "small-ia.png" %></a>
      <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
			  <% if current_user %>
			    <li><a href="/users/<%= current_user.id %>"><img id="navbar-profile-img" src="<%= current_user.image %>" height="20"> <%= current_user.name %></a></li>
        	<li><a href="/articles/new">New Article</a></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: "delete", id: "sign_out" %></li> 
			  <% else %>
			    <li><%= link_to "Sign In or Register", new_user_session_path %></li>
			  <% end %>
      </ul>
      <ul class="side-nav collection" id="mobile">
          <li class="collection-item"><a href="/"><%= image_tag "small-ia.png", height:"30" %></a></li>
        <% if current_user %>
			    <li class="collection-item"><a href="/users/<%= current_user.id %>"><img id="navbar-profile-img" src="<%= current_user.image %>" height="20"> <%= current_user.name %></a></li>
			    <li class="collection-item"><%= link_to destroy_user_session_path, method: "delete", id: "sign_out" do %><i class="tiny material-icons">lock</i> Sign out<% end %></li> 
        	<li class="collection-item"><a href="/articles/new"><i class="tiny material-icons">library_books</i>New Article</a></li>
			  <% else %>
			    <li class="collection-item"><%= link_to new_user_session_path do %><i class="tiny material-icons">lock</i> Sign In or Register<% end %></li>
			  <% end %>
  				<li class="collection-item"><a href="mailto:info@ideasamerica.com"><i class="tiny material-icons">email</i>info@ideasamerica.com</a></li>
      </ul>
    </div>
  </nav>
</div>


<div class="topics-bar hide-on-med-and-down">
  <div class="nav-wrapper">
    <div class="row">
    <div class="container">
      <div class="right">
        <a class='btn waves-effect waves-light' href='#' data-activates='dropdown1'>Trending Tag 1</a>
        <a class='btn waves-effect waves-light' href='#' data-activates='dropdown1'>Trending Tag 2</a>
        <a class='btn waves-effect waves-light' href='#' data-activates='dropdown1'>Trending Tag 3</a>
         <!-- Dropdown Trigger -->
        <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Categories</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#!">Category one</a></li>
          <li><a href="#!">Category two</a></li>
          <li class="divider"></li>
          <li><a href="#!">Category three</a></li>
          <li><a href="#!">Category four</a></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>