<!DOCTYPE html>
<html>
<head>
  <title>IdeasAmerica</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
  <body>
    <%= render partial: "/layouts/navbar" %>
    <%= yield %>
    <%= render partial: "/layouts/footer" %>
  </body>
</html>
