<!DOCTYPE html>
<html>
<head>
  <title>IdeasAmerica</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <meta property="og:url"           content="<%= request.original_url %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="<%= @article.title[0..60] %>" />
  <meta property="og:description"   content="<%= @article.body[0..140]%>..." />
  <meta property="og:image"         content="http://www.your-domain.com/" />
  
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1782010545421548";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <%= render partial: "/layouts/navbar" %>
    <%= yield %>
    <%= render partial: "/layouts/footer" %>
  </body>
</html>
